<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="horizontal-main-wrapper">
        <!-- main header area start -->
        <div class="mainheader-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="logo">
                            <h4 class="page-title pull-left"><a style="max-width: unset" class="h5" href="index.html">System Name: (0001)</a></h4>

                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-8 clearfix text-right">
                        <div class="d-md-inline-block d-block mr-md-4">
                            <ul class="notification-area">
                                <li id="full-view"><i class="ti-fullscreen"></i></li>
                                <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                <li class="dropdown">
                                    <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                        <span>2</span>
                                    </i>
                                    <div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>30 Seconds ago</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                                <div class="notify-text">
                                                    <p>New Commetns On Post</p>
                                                    <span>30 Seconds ago</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                                <div class="notify-text">
                                                    <p>Some special like you</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                <div class="notify-text">
                                                    <p>You have Changed Your Password</p>
                                                    <span>Just Now</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                                    <div class="dropdown-menu notify-box nt-enveloper-box">
                                        <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                        <div class="nofity-list">
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img1.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">Hey I am waiting for you...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img2.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">When you can connect with me...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img3.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">I missed you so much...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img4.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">Your product is completely Ready...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img2.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">Hey I am waiting for you...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img1.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">Hey I am waiting for you...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                            <a href="#" class="notify-item">
                                                <div class="notify-thumb">
                                                    <img src="assets/images/author/author-img3.jpg" alt="image">
                                                </div>
                                                <div class="notify-text">
                                                    <p>Aglae Mayer</p>
                                                    <span class="msg">Hey I am waiting for you...</span>
                                                    <span>3:15 PM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="settings-btn">
                                    <i class="ti-settings"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix d-md-inline-block d-block">
                            <div class="user-profile m-0">
                                <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Message</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item" href="#">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header area end -->
        <!-- header area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Instructions</h4>
                    </div>
                </div>
                <div class="col-sm-6 clearfix text-right">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                                English
                            </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Hindi</a>
                        <a class="dropdown-item" href="#">French</a>
                        <a class="dropdown-item" href="#">Urdu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area end -->
        <br class="clearfix">
        <br>
        <div class="login-area">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Please read the instructions carefully</h4>
                        <h5>General Instructions:</h5>
                        <ol>
                            <li>Total duration of examination : 150 minutes (Part-A - 90 mins and Part-B - 60 mins)</li>
                            <li>Number of questions:175 (Part-A – 100 Questions, Part-B – 75 Questions)</li>
                            <li>All questions are of <strong>objective type</strong>. Four options are given to each question out of which only one will be the correct answer.</li>
                            <li>There will be <strong>negative marking</strong> for wrong answers. 1/3<sup>rd</sup> mark will be deducted for every wrong answer.</li>
                            <li><strong><u>Click on </u></strong><strong><u>Save and Next</u></strong><strong><u> button after answering every question to save your answer.</u></strong> Otherwise your answer will not be saved.</li>
                            <li><strong>Language:</strong> <strong>:</strong> You can view the question paper in English, Hindi and the language in which you had appeared in the 1st stage CBT for ALP and Technicians. The instructions and the questions shall
                                be displayed in the language chosen by you from the drop down language list available at the bottom of the 'other important instructions' page. The questions will appear on the screen in the selected language. You can also
                                change the language of the question during the exam by selecting the desired language from the drop down list available as 'View in' on the top right of the question screen.</li>
                            <li>In case of any variation in the content of the question between the English and any other language, the content in English language shall be treated as valid.</li>
                            <li>One question will be displayed on the screen at a time.</li>
                            <li>Time available for you to complete the examination will be displayed through a countdown timer in the top right hand corner of the screen. It will display the remaining time as <strong>Time Left</strong>. At the beginning of
                                exam, for Part A timer will show 90 minutes which will reduce gradually with passage of time. When the timer reaches zero, the Part A examination will end by itself and then Part B exam will start automatically and the
                                timer will show 60 minutes which will reduce gradually with passage of time. When the timer reaches zero your examination will be auto submitted by the system.</li>
                        </ol>
                        <strong>B Question Number Box:</strong>
                        <ol>
                            <li>Question Number Box displayed on the right side of the screen will show the status of each question using one of the following symbols:</li>
                        </ol>
                        <table class="instruction_area table table-bordered my-3" style="FONT-SIZE: 100%">
                            <tbody>
                                <tr>
                                    <td><span title="Not Visited" class="not_visited">1</span></td>
                                    <td>You have not visited the question yet.</td>
                                </tr>
                                <tr>
                                    <td><span title="Not Answered" class="not_answered">2</span></td>
                                    <td>You have not answered the question.</td>
                                </tr>
                                <tr>
                                    <td><span title="Answered" class="answered">3</span></td>
                                    <td>You have answered the question.</td>
                                </tr>
                                <tr>
                                    <td><span title="Marked for Review" class="review">4</span></td>
                                    <td>You have NOT answered the question, but have marked the question for review.</td>
                                </tr>
                                <tr>
                                    <td><span title="Answered &amp; Marked for Review" class="review_marked_considered">5</span></td>
                                    <td>The question(s) "Answered and Marked for Review" will be considered for evaluation.</td>
                                </tr>
                            </tbody>
                        </table>

                        <ol style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px">
                            <li style="LIST-STYLE-TYPE: none">The ‘Marked for Review’ status for a question simply indicates that you would like to look at that question again.</li>
                            <li>You can click on the <strong>"&gt;" </strong>arrow which appears to the left of question number box to minimise the question number box. This will enable you to view the question on a bigger area of the screen. To view the
                                question number box again, you can click on <strong>"&lt;" </strong>arrow which appears on the right side of the screen.</li>
                            <li>You can click on <span> </span><span> </span>to navigate to the top of the question area, without scrolling.</li>
                            <li>The summary of number of questions answered, not answered, not visited, marked for review and answered and marked for review will be displayed above the question number box.</li>
                        </ol>
                        <strong>C Answering a Question </strong>
                        <ol>
                            <li>The questions will appear on the screen in serial order from question number 1 to 100, which can be answered one by one as given below:<br> <br> a. To select your answer, click on the button of one of the options<br> b. To
                                deselect your chosen answer, click on the button of the chosen option again or click on the Clear Response button<br> c. To change your chosen answer, click on the button of option you want to choose.<br> <strong>d. <u>To save your answer, you MUST click on the Save &amp; Next button</u></strong><u>.</u><br>                                e. In case of doubt on the option marked for a question, the question can be marked for review by clicking <strong>Mark for Review &amp; Next </strong><strong>button</strong><strong>. </strong>In case the marked option
                                is not reviewed, the originally marked option shall be considered for evaluation.</li>
                            <li>To change your answer to a question that has already been answered, first click on that question number from the question number box and follow the procedure for answering as mentioned at 1 above.</li>
                        </ol>
                        <p><strong>D Instruction for enlarging images</strong></p>
                        <p> To view the image provided in the question in a bigger size, click on the image and rotate the scrolling wheel on the mouse</p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-area">
                <p>© Copyright 2019. All right reserved.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>

    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>